/* Base Application Styles */

.b-footer {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 0px;
  width: 100%;
  text-align: right;
}

.b-color-box {
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 1px solid black;
  display: inline-block;
}

.b-scheme {
  margin-top: 10px;
  margin-bottom: 10px;
}

.b-scheme__remove {
  position: absolute;
  right: 3%;
}
